<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <meta name="description" content="Author: Sai Teja Sunku, Product: Simple web application for billing system">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js"></script>
    <title>Billing System</title>
</head>
<body>
    <div class="top-nav">
        <h1 class="title">Billing System</h1>
    </div>

    {{{body}}}

<div>
    <footer class="footer"><b>Copyright &#169; Sai Teja Sunku, 2024</b></footer>
</div>
</body>
</html>