
<h1 class="dashboard">Dashboard</h1> <!-- heading -->
<h2>Welcome {{name}}</h2>

<h3>What Would you like to do...</h3>

<a href="/billingsystem">Go to Billing System</a>
<a href="/instructions">Go to Instructions</a>

<a href="/auth/logout">Logout</a>