
<h1>Login</h1> <!-- heading -->
<p>{{ stuff }}</p>

<div class="flex-container">
    <div class="flex-item inside-form">
        <h1>Please Login</h1>
        <a href="/auth/github">Login with GitHub</a>
<!--        <form action="/login" method="post">-->
<!--            -->
<!--            <input autocomplete="off" autofocus name="name" placeholder="Enter UserID" type="text" required>-->
<!--            <input autocomplete="off" name="pwd" placeholder="Enter Password" type="password" required>-->
<!--            <input class="login-btn" type="submit" name="login" value="Log In">-->
<!--        </form>-->
    </div>
</div>
